<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Password Reset</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
      }

      .container {
        max-width: 600px;
        margin: 20px;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      }

      h1 {
        color: #333333;
        margin-top: 0;
      }

      p {
        color: #555555;
        line-height: 1.5;
        margin-bottom: 10px;
        font-size: 16px;
      }

      .otp-container {
        background-color: #f9f9f9;
        padding: 10px;
        border-radius: 5px;
      }

      .otp-code {
        font-size: 24px;
        font-weight: bold;
        color: rgb(239, 76, 43); /* Updated color */
        margin: 0;
      }

      .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: rgb(239, 76, 43); /* Updated color */
        color: white;
        text-decoration: none;
        border-radius: 3px;
        transition: background-color 0.3s, transform 0.3s;
      }

      .button:hover {
        background-color: #d13e0d; /* Slightly darker shade for hover */
        transform: scale(0.95);
      }

      .signature {
        color: #777777;
        font-style: italic;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Hello <%= fullName %>!</h1>
      <p>
        We received a request to reset your password. Here's your One-Time
        Password (OTP):
      </p>

      <div class="otp-container">
        <p class="otp-code"><%= OTP %></p>
      </div>

      <p>Use the above OTP to reset your password and secure your account.</p>

      <p>
        You can also access your account settings by clicking the button below:
      </p>
      <a href="https://www.example.com" class="button">Access Account</a>

      <p>If you did not request a password reset, please ignore this email.</p>

      <p class="signature">
        Best regards,<br />Mula Waallet<br />Customer Support
      </p>
    </div>
  </body>
</html>
